/* Custom  hljs Style */
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 2.5rem 0.8rem 2.5rem 2rem;
    border-radius:  0.25rem
  }
  
  .hljs {
    background: #1e1e1e;
    color: #dcdcdc;
  }
  
  .hljs:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 40px;
    width: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAdCAYAAABcz8ldAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAhgSURBVGhD7Zp7bBTHHcdn33t7vvOdzy+ITVKDU0xIKG2ABCPTRCCaUiEVKWoqRJuASAhCitRCVKSoalFUKZBiSmmFRRJKRUnUtIpo+aNqGgwoOCmuFUIRzxjwE4zte+97drYzztji8HPvtkit/PnH+n1397Tz+83vN/PbMZhmmmmm+d+BoX8n5diihcGqgFQf5vk6BMAskWUlw3GyFnIvtqWSf91w7mKC3npfOLX7wYeiIa6BBWCOLLFRF2NB0JvIOP/80YG+k2ev6S699b/OzOfKBW5l5KsgyC4DCFQDnpEAdE1goc/dlNPc/Up7P711UiYNSMuyxeUzZPnHgGHWh5XADEkSAcdiN+AnEXIBhBComgFU0/xQR+jnj51sOUMf9Z0NKyL8S9+JPBEN8zuCMrsqGOA5QWAAyzLAxe53HBeYFgJp1c5Cx33nyIfpV3e+22/Sx32nev/sMCgVnmM4bjOniAtZWQAsz315EfsGQQc4hgWcjHkCmOj1rheuNn95cXwmDMiVp5etC/D8m5FwUWVQUYYGPh6mZYFUOgsGVa1pXvOZzVT2jRuH54RM230jEuI3RcIiL4l4UkxAJmuD/riVsqD7ct2m9nep7BtVTbVfZ0uE/UIk+CQflAHDjf8+Lg6MldYATGpH3c/Ul7p3dWXppVGM6eElJSHmnQWPbSlRlN1lJcUBjqNRnwJZVQO3B5P/uq5rK1d90pakckFcaKp5UJHY92JR8YlwkUDVySEZfGfQdO7E7Z8s2HL9TSoXTPXRud9nA8IBqSwcZgWeqpPj6BYw7yTbXBN9q2v9lQEq5zBmWA8vWLCptCi4tzwW8RQMQlFQATPLSh6vCSh/plJBkMyQBHZfWYnkKRgEktEVpTJXERN2Xzo4ex2VC6K6qXYpF5b3ypVRT8EgcAERSJXRbwCBOTFzXblM5RxGBaRt+ZPYA+LO0mgxz5K1Ig+UgAzKIuGnz39z6S+olDeaibaXRsU1RUFvgx+GwTWgPCaDgMw2XXpr9gwq50XV0bkxJiYeEiNF5cwE5XsiOEkAUkXkUW51SSOVchjl8WKef604XFSRbzCGCYeCoESStv/p8QU1VPIM3knNDynctnBRfsEYhgSlNCIGgQv2UCkvGIHZgteMh1nBW9W4F16RAM6yDVV7amZTaYQcr59cuuhhWRTWBvAMLxQGeyFSHOLnh0MvUskz5RF+fbRYDEy0mZgqQYUHOLhr//b6rGoqeaLqQG0pw3PrBbyA+4EQUkRmhvgqNUfICUipKK4OKUqIJVPKB0jpEhjmWWp64jdbKmVZZNYogcJm493gsifOqhDyeh9GYR/FM7sW+DA5CKR0MSK3tvKZkpwB5gRE4tjFEr7RL0iWBGV51vHFCyupNGWWPqLgnoer9mtyEGSJAzwLllDTGzyznDjRN/CwOFkoFb4bm0eVIXICgpvdGoEvrF7fC89zfLkkeV5HbOhWiTwTpKYvCAJLGshRdXtKMKAWlyxq+MPQLk1h66g5RE5ABJYNFrqY3wvJklJRUKg5ZWLFXIA86yek2uDOPkBNb3CM5Pf7DL2QyIrUGiLH+xC5Bmmm/ARnHUhC6PnzxWDK0RH5HuIjZGy27erU9AZ0dTIWXyG+NpBBrSFySxZw220IqeUPFoS6jVAPNadM7yDsgNB1qOkLuAziMYIb1PQGA75wIaKGPyAb+9oF16g5RE5ALIQ+tSyLWoWDEAK6aXW3JlK9VJoyx1oyvVkNdvo5KXXDAVkdnaKmNwx0xjH98w3JNmTCm+Bc9hKVhsgJSI9pvp9Vdd++jmq6AXB2/HHrhcs5aTkVDv0DFzoHvKdq/mQsKX/4t7KJLDpOJW+IbAvMGoMkxfwAWZB8DT7W1diTE+WcgKz6pK1bs6z3daPwmJDsSKt6ZsCyjlLJMz0DsDGZ8SdlDROBjOb8YeWOjptU8kTXusuaazu7oJrfEnQvdkpVcUn6PTVHyAkIIW7br/Unklni0EJIZ1WgGsauZR+fvUglz6zY0dGfVp09ybRNlfwgi3k8YSbvJJ29VMoLt9v6rZVQL7hOYUubndHJGclBtzn1byqNMCogi09/2nFb01/oj+f/5TyjauBOKtPcZ1r7qZQ3f2lRfxZPWi2anp8TSDAGExZMa2jr8u03L1M5L7q3Xc+iAeuHRl/ScvPcjSLDBnZS/cjtNHd2v3171Ewbs9N5q7Pn4otVMx3btBsCsoRbk1FxG5dMVgMDqfTpXl1/tuFMa5zKefPROdX59qLQBwLnNog8Wy1OcjB1N+QEsW/QsFNZuO35Xb1v98QLX4/Sx+O3wqujrQ6013ABUWI8+AaqBjAH01+ghL22+5X2PirnMG7r+esbnae/V1neauvGSoHjigTcVU7UGFm2DeK4ttxKpQ+mLPvl+o/PjnkAkw9HTqSMmVHhyAMx9iFcSh/BHTfLceO/C8mKjApBf9zszGhoY92m9sN+BGOY9AeD7eGniv8OTaOB4dgyTsQd9wS+IQu4lciYdkI7CLrNH3Rvbb9FL41i0tbzVP2iWJkobpN5fmM4IJfJskTP1Bk8A9HQmbpmGDBrWqdVCN/Yd7PjxKGOXn+bmbto3feVVcVB9qehIL8EJy8nChwgr0O2xxBnhGU5eP2CfYbl/m4gBRsbtneMORP9oGpjpcCsiKzHHfdOPiQ/wMniyFEu2dbiTQCAeN/vavC466BGYLttXc9fmXBXMGlAhiHHur+sq6uPiUI9z7CVHMPwBnLSuuN8FuC48/Oaz1ylt94XfrW5ouyprwWfYRkwNyCyYYjwkBHows1fa+tV/fzGxlv39b9gqvfPmQ+i/HK8KlcBjhHwfl8HEHyOd1JnuzZd66S3TTPNNNP8/wDAfwDG7G0m9LKBpwAAAABJRU5ErkJggg==) 10px 10px no-repeat;
    background-size: 40px;
}


  .hljs-keyword,
  .hljs-literal,
  .hljs-name,
  .hljs-symbol {
    color: #569cd6;
  }
  
  .hljs-link {
    color: #569cd6;
    text-decoration: underline;
  }
  
  .hljs-built_in,
  .hljs-type {
    color: #4ec9b0;
  }
  
  .hljs-class,
  .hljs-number {
    color: #b8d7a3;
  }
  
  .hljs-meta .hljs-string,
  .hljs-string {
    color: #d69d85;
  }
  
  .hljs-regexp,
  .hljs-template-tag {
    color: #9a5334;
  }
  
  .hljs-formula,
  .hljs-function,
  .hljs-params,
  .hljs-subst,
  .hljs-title {
    color: #dcdcdc;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #57a64a;
    font-style: italic;
  }
  
  .hljs-doctag {
    color: #608b4e;
  }
  
  .hljs-meta,
  .hljs-meta .hljs-keyword,
  .hljs-tag {
    color: #9b9b9b;
  }
  
  .hljs-template-variable,
  .hljs-variable {
    color: #bd63c5;
  }
  
  .hljs-attr,
  .hljs-attribute {
    color: #9cdcfe;
  }
  
  .hljs-section {
    color: gold;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: 700;
  }
  
  .hljs-bullet,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #d7ba7d;
  }
  
  .hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%;
  }
  
  .hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%;
  }
  
.code-line-container{
  padding-top:40px;
  position: absolute;
  top: 0;
  left: 0;
}

  .code-line{
    display: block;
    color: gray;
    user-select: none;
    background: #1e1e1e;
    text-align: center;
    padding: 0 0.4rem;
    box-sizing: content-box;
    position: sticky;
    left: 0;
  }

    /* error-code */
    .hljs.error-code{
      background: #fbe5eb ;
      color: #1e1e1e;
    }
    
    .error-code .hljs-title,
    .error-code .hljs-function{
      color: #d30038;
    }
    
    .error-code .hljs-params{
      color: #1e1e1e;
    }
  
    pre .error-code ~ .btnIcon{
      color: #1e1e1e;
    }
  
    .hljs.correct-code{
      background: #e5f1eb  ;
      color: #1e1e1e;
    }
    
    .hljs.error-code .code-line{
      background: #fbe5eb ;
      color: #1e1e1e; 
    }

    /* correct-code */
    .correct-code .hljs-title{
      color: #569cd6;
    }
    
    .correct-code .hljs-params{
      color: #1e1e1e;
    }
    .correct-code .hljs-string {
      color: #608b4e;
    }
    pre .correct-code ~ .btnIcon{
      color: #1e1e1e;
    }