main {
  display: flex;
  flex-wrap: no-wrap;
  width: 100%;
}
nav {
  width: 100%;
  height: 60px;
  border: #ccc 1px solid;
}
aside {
  overflow-y: auto;
  width: 300px;
  min-height: 100%;
  border: #ccc 1px solid;
}

section {
  overflow-y: auto;
  padding: 20px;
  border: #ccc 1px solid;
  width: calc(100% - 302px);
  height: 600px;
}
