main {
  display: flex;
  flex-wrap: no-wrap;
  width: 100%;
}
nav {
  width: 100%;
  height: 60px;
  border: #ccc 1px solid;
}
aside {
  overflow-y: auto;
  width: 350px;
  min-height: 100%;
  border: #ccc 1px solid;
}

section {
  overflow-y: auto;
  padding: 20px;
  border: #ccc 1px solid;
  width: calc(100% - 352px);
  height: 600px;
}

table {
  border-collapse: collapse;
}
th {
  background-color: rgb(218, 218, 218);
}
tr,
th,
td {
  border: #ccc 1px solid;
  padding: 0.5em;
}

.border-block {
  border: #000 1px solid;
  padding: 0.5em;
}
