main {
  display: flex;
  width: 100%;
  padding-top: 60px;
  height: calc(100vh - 60px);
  border: #ccc 1px solid;
}
nav {
  position: fixed;
  width: 100%;
  height: 60px;
  padding-left: 1rem;
  line-height: 1em;
  border: #ccc 1px solid;
  background-color: #fff;
}
aside {
  overflow-y: auto;
  width: 300px;
  max-height: calc(100vh - 60px);
  padding: 1rem 0 0 1rem;
  border-right: #ccc 1px solid;
}

section {
  overflow-y: auto;
  padding: 20px;
  width: calc(100% - 300px);
}

table {
  border-collapse: collapse;
}
th {
  background-color: rgb(218, 218, 218);
}
tr,
th,
td {
  border: #ccc 1px solid;
  padding: 0.5em;
}

.border-block {
  border: #000 1px solid;
  padding: 0.5em;
}

p {
  text-indent: 2em;
  line-height: 1.5em;
}
