* {
  box-sizing: border-box;
}

body {
  font-family:InterVariable,LiHei Pro,黑體-繁,微軟正黑體,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  margin: 0
}

nav {
  position: fixed;
  width: 100%;
  height: 56px;
  padding-left: 1rem;
  line-height: 1rem;
  border: #ccc 1px solid;
  background-color: #fff;
  z-index: 4;
}

h1 a{
  display: inline-block;
  cursor: pointer;
  width: 100%;
  color:#000;
}

#toggle-menu{
 display: none;   
}

main {
  display: flex;
  width: 100%;
  padding-top: 56px;
  height: 100vh;
  border: #ccc 1px solid;
  background-color: #fff;
}

aside {
  overflow-y: auto;
  width: 270px;
  max-height: calc(100vh - 56px);
  padding: 1rem 0 0 0;
  background-color: #fff;
  border-right: #ccc 1px solid;
  font-size: 0.7rem;
}
aside>div{
  padding-left: 0.3rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  font-size:0.8rem
}
aside a{
  display: inline-block;
  cursor: pointer;
  width: 100%;
  color:#000;
  padding:  0.3rem 0.6rem;

}
aside li:hover,li:hover a{
  background-color: #cde4d6;
}

aside li.menu-item-focus a{
  background-color: #04AA6D;
  color: #fff;
}

#aside-mask{
  background-color: rgba(0,0,0,0.0);
  transition: all 0.3s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 3;
}

section {
  overflow-y: auto;
  padding: 0 30% 0 3rem;
  width: calc(100% - 270px);
}

table {
  border-collapse: collapse;
}
th {
  background-color: rgb(218, 218, 218);
}
tr,
th,
td {
  border: #ccc 1px solid;
  padding: 0.5rem;
}

.border-block {
  border: #000 1px solid;
  padding: 0.5rem;
}

aside ul,
aside u li {
  list-style-type: "";
}

ul{
  margin-block-start: 0;
  padding-inline-start: 0rem;
}


section li,p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}


h3 {
  margin: 0;
  padding-top: 1.5rem;
}


code{
  background-color: #F3F2F2;
}


@media screen and (max-width: 768px){
  main {
    padding-top: 3rem;
  }
  nav {
    padding-left: 0;
    height: 3rem;
  }
  h1{
    margin:0.6rem;
  }
  h1 a{
  font-size: 1.2rem;
  width: calc(100% - 1.8rem);
  }
  #toggle-menu{
    display: inline-block;
    cursor: pointer;
    margin-right:1rem;
    padding:3px 0.1rem;
    transform-style: preserve-3d;
    transition: transform 0.3s;
  }
  #toggle-menu::before {
    display: inline-block;
    content: url('../assets/icons/line-angle-right-icon.svg');
    width: 0.6rem;
    height: 0.6rem;

  }

  #toggle-menu.opened{
    transform: rotateY(180deg);
  }

  aside {
    position:fixed;
    transform-style: preserve-3d;
    transition: left 0.3s;
    left: -270px;
    z-index: 4;
  }
  aside.opened{
    left:0;
  }

  section {
    overflow-y: auto;
    padding: 0 1rem 0 1rem;
    width: 100%;
  } 
  #aside-mask{
    width: 100%;
    height: 100%;
  }
  #aside-mask.mask{
    background-color: rgba(0,0,0,0.5);
  }
}

