<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./public/favicon.ico" />
    <meta http-equiv="cache-control" content="no-cache" />
    <title></title>
    <link rel="stylesheet" href=" https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <link rel="stylesheet" href="./hightlight/default.min.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/copybutton.css" />
    <link rel="stylesheet" href="./css/hightlight.css" />
    <script src="./hightlight/hightlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BEVZJDBC7Z"></script>
    <script src="./js/gtag.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <h1>
          <span id="toggle-menu"></span>
          <a href="index.html"></a>
        </h1>
      </nav>
    </header>
    <main>
      <aside>
        <nav></nav>
      </aside>
      <article>
        <h2 id="1-6-2">1-6-2 單向數據流架構 React 解析</h2>
        <p>React 開發者可能對各種生命週期瞭若指掌，也熟悉「React 虛擬 DOM diff 演算法」、「單向資料流程」。但這並不夠深入。以下來介紹一些更加深入核心的原理。</p>
        <h3>React 專屬語法 JSX</h3>
        <p>從直觀上看 JSX 是將 HTML 直接嵌入了 JS （JavaScript）中。</p>
        <p>如果我們需要用條件判斷是否顯示元件有多種寫法。</p>
        <p>假設收到這樣一個很常見的需求：繪製一個清單，但是需要滿足清單為空陣列時，顯示空文案"Sorry，the list is empty"。清單中的資料可能需要透過網路取得，存在列表中沒有初值為 null 的情況。</p>
        <p>透過 JSX 實現這種條件繪製的最簡潔的方法就是使用三元運算子</p>
        <pre><code class="language-js">
const list = ({list}) => {
const isNull = !list
const isEmpty = !isNull && !list.length
return (<div> {
isNull ? null:(
isEmpty:<p>Sorry,the list is empty </p>
:<div>{
  list.map(item => <ListItem item={item｝/>)
}
</div>
)
}
</div>
}
}
        </code></pre>
        <p>由於之後還要加上了出現錯誤時和正在載入時的邏輯，所以三元運算子萬惡的巢狀結構地獄可能就要出現了。解決思路通常用的方法是抽離出 render function ，如下：</p>
                <pre><code class="language-js">
const getListContent = (isLoading, list, error) => {
console.log(list)
console.log(isLoading)
console.log(error)
//...
return //...
}
const list = ({isLoading, list, error}) => {
return (<div>{
getListContent (isLoading, list, error)
}
</div>)
}
        </code></pre>
        <p>甚至可以使用 IIFE，範例如下</p>
                <pre><code class="language-js">
const list = ({isloading, 11st, error})=> {
return (<div>
{
(()=>{
console.log(list)
console.log(isLoading)
console.log(error)
if(error) {
return <span>Something is wrong!</span>
}
if (!error && isLoading) {
return <span>Loading...</span>
}
if (lerror && lisLoading && !list. length) {
return <p>Sorry, the list is empty </p>
}
if (!error && !isLoading && list.length > 0){
return <div>{
list.map(item => <ListItem item={item} />)
}
</div>
}
})()
}
</div>
)
}
        </code></pre>
        <p>這樣一來就可以使用 console.log 進行簡單偵錯了，也可以使用 if.else 實現條件繪製。</p>
        <p>再回到根本問題：為什麼不能直接在 JSX 中使用 if.eise 實現條件繪製，而只能借用函數運輯實現呢？實際上，我們都知道 JSX 會被編譯為 React.
createElenent。直白地說，React createElenent 的底層邏輯是無法執行 JavaScript 程式的，只能繪製一個結果。因此，JSX 中除了 JavaScript 運算式，不能直接寫 JavaScript 語法。準確來講，JSX 只是函數呼叫和運算式的語法糖。</p>
<p>雖然 JSX 只是函數呼叫和運算式的語法糖，但是JSX 仍然具有強大的功能且能夠使用靈活。React 元件重複使用最流行的方式都是以 JSX 能力為基礎的，
舉例來説，HOC（Higher Order Component，高階元件）和 render prop 模式，
render prop 模式的實現程式如下</p>
                <pre><code class="language-js">
class WindowWidth extends React.Component {
constructor () {
super()
this.state ={
width: 0
}
componentDidMount () {
this.setState (
{width: window.innerWidth},
window.addEventListener('resize', ({target}) =>{
this.setState({
width: target.innerWidth
})
})
)
｝
render (){
return this props.children (this.state.width)
}
}
‹WindowWidth>
{
width => (width > 800 ? <div>show</div> : null)
}
<WindowWidth>
        </code></pre>
        <p>甚至還可以讓 JSX 具有 Vue template 的能力，範例程式如下。</p>
                <pre><code class="language-js">
render (){
const visible = true
return ( <div>
<div v-if={visible}>
content
</div>
</div>
)
}
render () {
const list = [1, 2, 3, 4]
return (
<div>
<div v-for={item in list}>
{item}
</div>
</div>
)
}
        </code></pre>
        <p>JSX 需要在編譯後執行，在編譯過 中借助 AST（抽象語法樹）對 v-if、v-for進行處理即可。</p>
        <p>這裡註記一下：操作AST 是另外一門高階技術。需要額外開一章說明。</p>
        <h3>非同步的 this.setState</h3>
        <p>絕大多數 React 開發者都知道 this.setState 是非同步執行的，但這個結論是錯誤的！那麼，this.setState 到底是非同步執行還是同步執行的？</p>
        <p>this.setSate 這個 API 的官方描述為：
setState() does not always immediately update the component. It may batch or defer the update until later. This makes reading this state right after calling setState() a potential pitfall.</p>
<p>意思是說，setState() 方法並不總是能夠立刻更新元件，它可能會延遲更新，這樣在透過 this.state 讀取內容時，就有可能取得不到最新的狀態值。</p>
<p>既然用詞是 may，那麼說明 this.setState 一定不總是非同步執行的，也不總是同步執行的。所謂的延遲更新並不是針對所有情況的。</p>
<p>實際上，在React 控制之內的事件處理過程中，setState 不會同步更新 this.
state ；而對於 React 控制之外的情況，setState 會同步更新 this.state。</p>
<p>什麼是 React 控制內外呢？舉個實例，先來看以下程式。</p>
        <pre><code class="language-js">
onClick(){
this.setState({
count: this.state.count + 1
})
}
componentDidMount(){
document.querySelectorAll('#btn-raw')
addEventlistener('click', this.onclick)
}
render(){
return(
<React.Fragment> 
  <button id="btn-raw"> 
    click out React
  </button>
  <button onClick=｛this.onClick｝>
   click in React
  </button>
</React.Fragment>
)
}
        </code></pre>
        <p>在 為 btn-raw 的 butbon 上綁定的事件，是在 componentDidMount方法中添過 addEventListener 完成更新的，這是脱離於 React 事件之外的事件，因此它是同步更新的。相反，在程式中第二個 buton 上綁定的事件處理函數對應的 setState 是非同步更新的。這樣的設計並不難了解，透過延遲更新，可以獲得更好的效能。</p>
        <h4>this.setState Promise 化</h4>
        <p>官方提供了 this.setState 這種處理非同步更新的方法。其中的方法就是使 setState 接收第二個參數，並作為狀態更新後的回呼，但這無疑又帶來了我們熟悉的 callback hell（回呼地獄）問題。</p>
        <p>例如有這樣一個場景，我們在開發一個 table，這個 table 類似Excel 的形式，使用者敲下確認鍵時，需要將游標移動到下一行，這是一個 setState 操作，然後馬上進行聚焦，這又是一個 setState 操作。如果目前行就是最後一行，那麼使用者敲下確認鍵時，需要先建立一個新行，這是第一個setState 操作，同時將游標移動到新的最後一行，這是第二個 setState 操作；然後在這個新行中進行聚焦，這是第三個 setState 操作。這些 setState 操作依賴於前一個 setState 操作的完成。</p>
        <p>面對這種場景，如果我們不想讓回呼地獄問題出現，那麼常見的處理方式就是利用生命週期方法，在 componentDidUpdate 中進行相關操作，第一個 setState
操作完成後，在其觸發的 componentDidUpdate 中進行第二個 setState 操作，依此類推</p>
<p>但是這樣存在的問題也很明顯：邏輯過於分散。生命週期方法中有很多很難維護的「莫名其妙的操作」會出現「針對生命週期程式設計」的情況</p>
<p>回到剛才的問題，解決回呼地獄問題其實是前端工程師的拿手好戲，最直接的方案就是將 setState Promise 化，程式如下。</p>
        <pre><code class="language-js">
const setstatepromise(me, state)=>{
new Promise (resolve => {
me.setState(state,()=>{
resolve()
})
})
}
        </code></pre>
        <p>這只是系統更新的做法，如果使用修改 React 原始程式的做法，也不困難，如下圖所示。</p>
        補圖
        <h3>原生事件和 React 合成事件</h3>
        
                <pre><code class="language-js">

        </code></pre>
                <pre><code class="language-js">

        </code></pre>
                <pre><code class="language-js">

        </code></pre>
                <pre><code class="language-js">

        </code></pre>
                <pre><code class="language-js">

        </code></pre>
                <pre><code class="language-js">

        </code></pre>
                <pre><code class="language-js">

        </code></pre>
                <pre><code class="language-js">

        </code></pre>
                <pre><code class="language-js">

        </code></pre>
                <pre><code class="language-js">

        </code></pre>
                <pre><code class="language-js">

        </code></pre>
                <pre><code class="language-js">

        </code></pre>
                <pre><code class="language-js">

        </code></pre>
        <div class="border-block"></div>
      </article>
    </main>
  </body>
  <script type="module" src="./js/main.js"></script>
</html>
